extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/login?c=login", method="post")
    input(type="text", name='username', placeholder='name')
    input(type="submit", value="Enter in")
